.App {
  text-align: center;
  background-color: black;
}

.task-item {
  color: blue;
  background-color: lightgoldenrodyellow;
  height: 50px;
  border: 10px;
}

.description-item {
  color: red;
  background-color: black;
}
li{
  display: block;
  flex-direction: column;
}